<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.automotive" android:required="false" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kids Car"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data android:name="distractionOptimized" android:value="true" />
        <meta-data android:name="androidx.car.app.minCarApiLevel" android:value="7" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="Kids Car"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CAR_LAUNCHER" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>

            <meta-data android:name="distractionOptimized" android:value="true" />
        </activity>

    </application>
</manifest>
